body {
    background-color: black;

    font-family: 'GeneralSans-Variable';

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh;
}

img {
    height: 20rem;
}

h1 {
    font-size: 1.5rem;
    color: #ffc4d6;
}

footer {
    position: absolute;
    bottom: 1rem;
}